/*  resouce */
@font-face{
    font-family:LanTingCuHeiK;
    src: url('../fonts/兰亭粗黑 K.TTF');
}

@font-face{
    font-family:LanTingXianHei;
    src: url('../fonts/兰亭纤黑.TTF');
}

/**************** dElement *****************→←↑↓*/
/* light */
.dElement.light > .d-scaler { background-color: #000;}
.dElement.light.dElement-border { border:1px solid transparent; }
.dElement.light.dElement-border.hover:hover { border-style:dashed; border-color: #28b779; }
.dElement.light.dElement-border.selected,
.dElement.light.dElement-border.selected.hover:hover{ border-style:solid; border-color: #28b779; }
.dElement.light.d-scaling{ opacity: 0.3; }
.dElement.light > .d-sizer{
    background-color: #000;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    opacity:0.5;
}
.dElement.light.dElement-border.d-copying,
.dElement.light.dElement-border.d-copying.hover:hover,
.dElement.light.dElement-border.selected.d-copying,
.dElement.light.dElement-border.selected.d-copying.hover:hover{ border-style:solid; border-color: red; }


/* default */
.dElement.default > .d-scaler{ background-color: #fff;}
.dElement.default.dElement-border { border:1px solid transparent; }
.dElement.default.dElement-border.hover:hover { border-style:dashed; border-color: #28b779; }
.dElement.default.dElement-border.selected,
.dElement.default.dElement-border.selected.hover:hover{ border-style:solid; border-color: #28b779; }
.dElement.default.d-scaling{ opacity: 0.3; }
.dElement.default > .d-sizer{
    background-color: #000;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    opacity:0.5;
}
.dElement.default.dElement-border.d-copying,
.dElement.default.dElement-border.d-copying.hover:hover,
.dElement.default.dElement-border.selected.d-copying,
.dElement.default.dElement-border.selected.d-copying.hover:hover{ border-style:solid; border-color: red; }

/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ component show or hide --start-- ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
/************** hide ***************/
.dElement > .d-scaler,
.dElement > .d-sider,
.dElement > .d-sizer,
.dElement > .d-dragger
{ display:none; }
.dElement > .d-sizer{ cursor:move; }
/************** show ***************/

/** selected **/
.dElement.selected > .d-scaler,
.dElement.selected > .d-sider,
.dElement.selected > .d-sizer,
/** hover **/
.dElement.hover:hover > .d-scaler,
.dElement.hover:hover > .d-sider,
.dElement.hover:hover > .d-sizer
{ display:block; }
/* scale */
.dElement.d-scaling > .d-sizer,
.dElement.d-scaling > .d-dragger
{ display:block; }
/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ component show or hide --end-- ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/








/**************** dCanvas *****************/
.dElement.dCanvas > .d-content > .d-scaler,
.dElement.dCanvas.selected > .d-content > .d-scaler
{ display:none; }

.dElement.dCanvas.selected.hover:hover > .d-content > .d-scaler
{ display:block; }

/* light */
.dElement.light.dCanvas > .d-grid > .x-grid-line{ border-top-color: #dfdfdf; }
.dElement.light.dCanvas > .d-grid > .y-grid-line{ border-left-color: #dfdfdf; }
.dElement.light.dCanvas > .d-background{ background-color: #fff; }
.dElement.light.dCanvas > .d-content > .d-scaler:hover { background:#c3c3c3; }
.dElement.light.dCanvas > .d-content > .d-scaler{
    height: 10px;
    line-height: 10px;
    text-align: center;
    font-size: 10px;
    overflow: hidden;
    cursor: ns-resize;
    background: #ccc;
}

/* default */
.dElement.default.dCanvas > .d-grid > .x-grid-line{ border-top-color: #727272; }
.dElement.default.dCanvas > .d-grid > .y-grid-line{ border-left-color: #727272; }
.dElement.default.dCanvas > .d-background { background-color: #1b1b1b; }
.dElement.default.dCanvas > .d-content > .d-scaler:hover{ background:#c3c3c3; }
.dElement.default.dCanvas > .d-content > .d-scaler{
    height: 10px;
    line-height: 10px;
    text-align: center;
    font-size: 10px;
    overflow: hidden;
    cursor: ns-resize;
    background: #ccc;
}
/*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ dCanvas --end-- ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*/


/**************** dTab *****************/
.dElement.dTab > .d-content > div > .dTab-titles .dTab-title-container .dTab-title-item > .dTab-title-left:hover,
.dElement.dTab > .d-content > div > .dTab-titles .dTab-title-container .dTab-title-item > .dTab-title-right:hover,
.dElement.dTab > .d-content > div > .dTab-titles .dTab-title-container .dTab-title-item > .dTab-title-remove:hover
{ opacity:0.5; }

/*light*/
.dElement.light.dTab > .d-content > div { border-color: #eee; }
.dElement.light.dTab > .d-content > div > .dTab-titles .dTab-title-container .dTab-title-item {
    background-color: #ccc;
    color: #666;
}
.dElement.light.dTab > .d-content > div > .dTab-titles .dTab-title-container .dTab-title-item.selected { background-color: #eee; }
.dElement.light.dTab > .d-content > div > .dTab-contents > .dTab-content-item > .dTab-content-container.light.dElement.dCanvas > .d-background{ background-color: #eee; }

.dElement.light.dTab > .d-content > div > .dTab-contents > .dTab-content-item > .dTab-content-container.light.dElement.dCanvas > .d-grid > .x-grid-line{ border-top-color: #f7f7f7; }
.dElement.light.dTab > .d-content > div > .dTab-contents > .dTab-content-item > .dTab-content-container.light.dElement.dCanvas > .d-grid > .y-grid-line{ border-left-color: #f7f7f7; }

.dElement.light.dTab > .d-background{ background-color: transparent; }

.dElement.light.dTab > .d-content > div > .dTab-titles .dTab-title-container .dTab-title-item > .dTab-title-left,
.dElement.light.dTab > .d-content > div > .dTab-titles .dTab-title-container .dTab-title-item > .dTab-title-right,
.dElement.light.dTab > .d-content > div > .dTab-titles .dTab-title-container .dTab-title-item > .dTab-title-remove
{ display:none; }
.dElement.light.dTab > .d-content > div > .dTab-titles .dTab-title-container .dTab-title-item:hover > .dTab-title-left,
.dElement.light.dTab > .d-content > div > .dTab-titles .dTab-title-container .dTab-title-item:hover > .dTab-title-right,
.dElement.light.dTab > .d-content > div > .dTab-titles .dTab-title-container .dTab-title-item:hover > .dTab-title-remove
{ display:block; }
/*default*/
.dElement.default.dTab > .d-content > div { border-color: #ccc; }
.dElement.default.dTab > .d-content > div > .dTab-titles .dTab-title-container .dTab-title-item {
    background-color: #eee;
    color: #fff;
}
.dElement.default.dTab > .d-content > div > .dTab-titles .dTab-title-container .dTab-title-item.selected { background-color: #ccc; }
.dElement.default.dTab > .d-content > div > .dTab-contents > .dTab-content-item > .dTab-content-container.default.dElement.dCanvas > .d-background { background-color: #ccc; }

.dElement.default.dTab > .d-content > div > .dTab-contents > .dTab-content-item > .dTab-content-container.default.dElement.dCanvas > .d-grid > .x-grid-line{ border-top-color: #eee; }
.dElement.default.dTab > .d-content > div > .dTab-contents > .dTab-content-item > .dTab-content-container.default.dElement.dCanvas > .d-grid > .y-grid-line{ border-left-color: #eee; }

.dElement.default.dTab > .d-background{ background-color: transparent; }

.dElement.default.dTab > .d-content > div > .dTab-titles .dTab-title-container .dTab-title-item > .dTab-title-left,
.dElement.default.dTab > .d-content > div > .dTab-titles .dTab-title-container .dTab-title-item > .dTab-title-right,
.dElement.default.dTab > .d-content > div > .dTab-titles .dTab-title-container .dTab-title-item > .dTab-title-remove
{ display:none; }
.dElement.default.dTab > .d-content > div > .dTab-titles .dTab-title-container .dTab-title-item:hover > .dTab-title-left,
.dElement.default.dTab > .d-content > div > .dTab-titles .dTab-title-container .dTab-title-item:hover > .dTab-title-right,
.dElement.default.dTab > .d-content > div > .dTab-titles .dTab-title-container .dTab-title-item:hover > .dTab-title-remove
{ display:block; }



/**************** dDimension *****************/
/*light*/
.dElement.light.dDimension > .d-content > div { border-color: #eee; }
.dElement.light.dDimension > .d-content > div > table.filter-main > tbody > tr > td {  padding:5px; background-color: transparent; }
.dElement.light.dDimension > .d-content > div > table.filter-main > tbody > tr > td.filter-title{ color: #aaa; line-height: 1; font-size:12px; }

/*default*/
.dElement.default.dDimension > .d-content > div { border-color: #fff; }
.dElement.default.dDimension > .d-content > div > table.filter-main > tbody > tr > td {  padding:5px; background-color: transparent; }
.dElement.default.dDimension > .d-content > div > table.filter-main > tbody > tr > td.filter-title{ color: #fff; line-height: 1; font-size:12px; }





/**************** dIndex *****************/
/*light*/
.dElement.light.dIndex > .d-content > div { border-color: #eee; }
.dElement.light.dIndex > .d-content > div > table.filter-main > tbody > tr > td {  padding:5px; background-color: transparent; }
.dElement.light.dIndex > .d-content > div > table.filter-main > tbody > tr > td.filter-title{ color: #aaa; line-height: 1; font-size:12px; }

/*default*/
.dElement.default.dIndex > .d-content > div { border-color: #fff; }
.dElement.default.dIndex > .d-content > div > table.filter-main > tbody > tr > td {  padding:5px; background-color: transparent; }
.dElement.default.dIndex > .d-content > div > table.filter-main > tbody > tr > td.filter-title{ color: #fff; line-height: 1; font-size:12px; }




/**************** dFilter *****************/
/*light*/
.dElement.light.dFilter > .d-content > div { border-color: #eee; }
.dElement.light.dFilter > .d-content > div > table.filter-main > tbody > tr > td {  padding:5px; background-color: transparent; }
.dElement.light.dFilter > .d-content > div > table.filter-main > tbody > tr > td.filter-title{ color: #aaa; line-height: 1; font-size:12px; }

/*default*/
.dElement.default.dFilter > .d-content > div { border-color: #fff; }
.dElement.default.dFilter > .d-content > div > table.filter-main > tbody > tr > td {  padding:5px; background-color: transparent; }
.dElement.default.dFilter > .d-content > div > table.filter-main > tbody > tr > td.filter-title{ color: #fff; line-height: 1; font-size:12px; }




/**************** dImage *****************/
/* light */
.dElement.light.dImage > .d-content > div {
    background-color:transparent;
    border-color: #aaa;
}
.dElement.light.dImage > .d-content > div > svg *{ fill: #aaa; }

/* default */
.dElement.default.dImage > .d-content > div {
    background-color:transparent;
    border-color: #fff;
}
.dElement.default.dImage > .d-content > div > svg *{ fill: #fff; }




/**************** dText *****************/
/* light */
.dElement.light.dText > .d-content > .dText-text { color: #aaa; }

/* default */
.dElement.default.dText > .d-content > .dText-text { color: #fff; }




/**************** d-select *****************/
/* light */
.dElement.light .d-select { width: 100%; position:relative; text-align:left; }
.dElement.light .d-select.d-select-show > .d-option{ border-top: none; }

.dElement.light .d-select > .d-dropdown { border: 1px solid #ccc; background:transparent; cursor:pointer; font-size: 12px; position: relative; line-height:1; padding:10px; }
.dElement.light .d-select > .d-dropdown > .d-dropdown-angle.glyphicon-triangle-bottom { position:absolute; right: 10px; font-size:12px; top:50%; margin-top: -6px; color:#aaa; }
.dElement.light .d-select > .d-dropdown > .d-select-text { color:#aaa; }

.dElement.light .d-select > .d-option { position:absolute; border: 1px solid #ccc; background:transparent; width:100%; }
.dElement.light .d-select > .d-option > .d-option-item { line-height:1; cursor:pointer; padding: 10px; color:#aaa; }
.dElement.light .d-select > .d-option > .d-option-item:hover{ background:#ddd !important; color: #fff !important; }
.dElement.light .d-select > .d-option > .d-option-item.selected { color: #0ca2bf; }
.dElement.light .d-select > .d-option > .d-option-item.selected:hover{ background:#ddd !important; color: #fff !important; }

/* default */
.dElement.default .d-select { width: 100%; position:relative; text-align:left; }
.dElement.default .d-select.d-select-show > .d-option{ border-top: none; }

.dElement.default .d-select > .d-dropdown { border: 1px solid #fff; background:transparent; cursor:pointer; font-size: 12px; position: relative; line-height:1; padding:10px; }
.dElement.default .d-select > .d-dropdown > .d-dropdown-angle.glyphicon-triangle-bottom { position:absolute; right: 10px; font-size:12px; top:50%; margin-top: -6px; color:#fff; }
.dElement.default .d-select > .d-dropdown > .d-select-text { color:#fff; }

.dElement.default .d-select > .d-option { position:absolute; border: 1px solid #fff; background:transparent; width:100%; }
.dElement.default .d-select > .d-option > .d-option-item { line-height:1; cursor:pointer; padding: 10px; color:#fff; }
.dElement.default .d-select > .d-option > .d-option-item:hover{ background:#ddd !important; color: #fff !important; }
.dElement.default .d-select > .d-option > .d-option-item.selected { color: #0ca2bf; }
.dElement.default .d-select > .d-option > .d-option-item.selected:hover{ background:#ddd !important; color: #fff !important; }



/**************** d-checkbox *****************/
/* light */
.dElement.light .d-checkbox { cursor: pointer; position:relative; padding: 2px 0;}
.dElement.light .d-checkbox > input { display: none; }
.dElement.light .d-checkbox > input ~ i {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/checkbox.png) 0 -100px no-repeat;
    position:absolute;
    top:50%;
    margin-top: -8px;
}
.dElement.light .d-checkbox > input ~ i ~ span { margin-left: 20px; color:#aaa; }
.dElement.light .d-checkbox > input:checked ~ i { background-position: 0 -150px;}

/* default */
.dElement.default .d-checkbox { cursor: pointer; position:relative; padding: 2px 0;}
.dElement.default .d-checkbox > input { display: none; }
.dElement.default .d-checkbox > input ~ i {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/checkbox.png) 0 -100px no-repeat;
    position:absolute;
    top:50%;
    margin-top: -8px;
}
.dElement.default .d-checkbox > input ~ i ~ span { margin-left: 20px; color:#fff; }
.dElement.default .d-checkbox > input:checked ~ i { background-position: 0 -150px;}